
// carousel image
.slick-slide .ui.cards > .card:not(.rounded),
.slick-slide .ui.card:not(.rounded) {
  .image {
    position: relative;
    height: @cardImageHeight !important;

    img {
      height: @imageHeight !important;
      border-radius: 10px;
    }
  }

  .image:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: #608c95;
    border-radius: 10px;
    content: '';
    opacity: 0.4 !important;
    transition: opacity 0.2s;
  }
}

.slick-slide .ui.cards > .card:not(.rounded):hover,
.slick-slide .ui.card:not(.rounded):hover {
  .image:before {
    opacity: 0 !important;
  }
}

// carousel arrows
.cards-carousel .next-arrow {
  top: 40% !important;
  right: -5rem !important;
}

.cards-carousel .prev-arrow {
  top: 40% !important;
  left: -5rem !important;
}

// carousel card
.card .meta .date {
  margin-right: auto !important;
  margin-left: 0 !important;
}

// carousel dots
.cards-carousel .slick-dots li.slick-active button:before {
  background-color: @linkColorAB !important;
}

.cards-carousel .slick-dots li button:before {
  width: 13px !important;
  height: 13px !important;
  border-color: @linkColorAB !important;
}

.cards-carousel .slick-track {
    margin: 0 !important;
  }
  