@green-0: #C8FFF8;
@green-1: #85FFF1;
@green-2: #00F5D8;
@green-3: #00CCB4;
@green-4: #00A390; // @secondaryColor
@green-5: #007B6C;
@green-6: #005248; // @primaryColor

@yellow-0: #FEF6CD;
@yellow-1: #FBEC9B;
@yellow-2: #FAD936;
@yellow-3: #FAC50D;
@yellow-4: #FDAF20;
@yellow-5: #FF9933;
@yellow-6: #C35527;
